<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="false"
         testdox="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="testdox-html" target="tests/logs/testdox.html"/>
        <log type="testdox-text" target="tests/logs/testdox.txt"/>
    </logging>

</phpunit>